@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Sofia&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

navbar-brand{
    font-size: 3.5em;
    font-weight: 500;
}

.carousel{
    max-width: 1020px;
    margin: 30px;
}
.carousel-item{
    width: 100%;
}

.carousel-item img{
    width: 100%;
    height: 100%;
}

.carousel-caption{
    background: rgba(0, 0, 0, 0.5);
}

.poster{
    width: 160px !important;
}

.details{
    align-items: center;
    text-align: center;
    padding-top: 5rem;
}

.details h5{
    font-size: 1.5em !important;
}

.details p{
    color: rgba(255, 255, 255, 0.5);
}

.carousel-indicators{
    z-index: 2;
}
